@import url(https://fonts.googleapis.com/css?family=VT323);

* {
	margin: 0;
	padding: 0;
}

canvas {
	width: 585px;
	height: 512px;
}

main {
	text-align: center;
}

html {
	font-family: 'VT323';
	font-size: 24px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header, footer{
	text-align: center;
	background: 
		radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
		radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
		linear-gradient(#8090a0 8px, transparent 8px) 0 -4px,
		linear-gradient(90deg, #8090a0 8px, transparent 8px) -4px 0;
	background-color: slategray;
	background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

header, footer, header a, footer a {
	color: white;
	text-decoration: none;
}

main {
	flex: 1;
	padding: 16px 0;
	background: #e1e1e1; /* Old browsers */
	background: linear-gradient(to bottom, #e1e1e1 0%,#ffffff 100%); /* W3C */
	background-size: 40px 40px;
	background-repeat: repeat-x;
}
h1, h2, p {
	margin: 16px 0;
}

#nesContainer h2 {
	display: none;
}
